* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

header {
   width: 40%; 
   height: 250px;
   background-color: aquamarine;
   /*font-size: 20px;*/
}

header {
    width: 40%; 
    height: 250px;
    background-color: aquamarine;
    /*font-size: 20px;*/
 }






/*
nav {
    width: 50%;
    height: 50%;
    background-color: coral;
    font-size: 1.25rem;

}

main {
    min-height: calc(100hv - 200px - 100px);
}

footer {
    height: 100px;
    background-color: aqua;

}
*/