.button {
    display: block;
    margin: 250px;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid;
    background-color: rgb(78, 174, 234);
    color:black;
    text-align: center;
    font-size: 20px;
     
  }
  
.button:hover {
    background-color: rgb(0, 208, 255);
  }
  
.button:active {
    background-color:red;
  }